@import "vendor/vendor";
//
/// Settings
@import "settings/settings";
//
/// Base
@import "base/base";
//
/// Layout
@import "layout/layout";
//
/// Components
@import "components/components";
//
/// Elements
@import "elements/elements";

// Custom Styling

.nav-trigger {
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 40%;
  width: 10px;
  height: 10px;
  background-color: green;
  visibility: hidden;
}

.slide-pos {
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: yellow;
  visibility: hidden;
}

.slide-pos-reverse {
  z-index: 100;
  position: absolute;
  top: 100%;
  right: 2%;
  width: 10px;
  height: 10px;
  background-color: black;
  visibility: hidden;
}

#slide02-pos {
  top: 140%
}

#slide03-pos {
  top: 240%
}

#slide04-pos {
  top: 340%
}

#slide05-pos {
  top: 440%
}

#slide06-pos {
  top: 540%
}

#slide07-pos {
  top: 640%
}

#slide08-pos {
  top: 740%
}

#slide09-pos {
  top: 840%
}

#slide02-pos-reverse {
  top: 170%
}

#slide03-pos-reverse {
  top: 270%
}

#slide04-pos-reverse {
  top: 370%
}

#slide05-pos-reverse {
  top: 470%
}

#slide06-pos-reverse {
  top: 570%
}

#slide07-pos-reverse {
  top: 670%
}

#slide08-pos-reverse {
  top: 770%
}

#slide09-pos-reverse {
  top: 870%
}
