@import "vendor/vendor";
//
/// Settings
@import "settings/settings";
//
/// Base
@import "base/base";
//
/// Layout
@import "layout/layout";
//
/// Components
@import "components/components";
//
/// Elements
@import "elements/elements";

// Custom Styling
.loading {
  .slide {
    opacity: 0;
    visibility: hidden;
  }
}

.slide02-active {
  .nav a {
    color: #ffffff;
  }
}